<nav class="navbar bg-primary justify-content-between">
  <div>
    <a class="navbar-brand text-white">My App</a>
    <a
      href=""
      class="text-white text-decoration-none h6 m-4"
      routerLink="projects"
      >Projects</a
    >
    <a
      href=""
      class="text-white text-decoration-none h6"
      routerLink="timesheets"
      >Timesheets</a
    >
  </div>
  <form class="row">
    <div class="col">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    <div class="col">
      <button class="btn btn-success" type="submit">Search</button>
    </div>
    <div class="col">
      <i class="btn btn-lg bi bi-gear-fill"></i>
    </div>
  </form>
</nav>
